#game {
    width: 960px;
    height: 400px;
    margin: 100px auto; 
    font-family: 'Notable', sans-serif;
    font-size: 36px;
}

.letterHolder {
    background-color: aquamarine;
    width: 54px;
    height: 54px;
    line-height: 54px;
    font-size: 36px;
    float: left;
    margin: 50px 10px;
    text-align: center;
    color: aquamarine;
}

.shown {
    color: black;
}

#guessedLetters {
    clear: both;
}

img {
    width: auto;
    height: auto;
    max-height: 250px;
}